flows (1).json
[{"id":"37dc96f5.d5f84a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfe19f76.06f36","type":"function","z":"37dc96f5.d5f84a","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"v\",msg.payload.v);\nglobal.set(\"w\",msg.payload.w);\n\n\n//following are required to receive a token\nvar apikey=\"OhkeaxPMV3pC9KifvPg5Ho8_YF05KSSQNLfWrqJ-8ymh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["ff9ea3cb.a7cdf"]]},{"id":"ddd8b4a2.10a118","type":"http request","z":"37dc96f5.d5f84a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/9ee41e1f-a5a4-41eb-b7be-d343fc0fc4d9/deployments/2daa24f5-bb92-4405-af69-4bb5ea4c5dac/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["a12da367.84432","ec99879e.e2d478"]]},{"id":"fe2695f8.415768","type":"debug","z":"37dc96f5.d5f84a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"ec99879e.e2d478","type":"function","z":"37dc96f5.d5f84a","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["fe2695f8.415768","4216f80e.8f6dd8"]]},{"id":"a12da367.84432","type":"debug","z":"37dc96f5.d5f84a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"bb60bbed.ee1308","type":"function","z":"37dc96f5.d5f84a","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"9ee41e1f-a5a4-41eb-b7be-d343fc0fc4d9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar v = global.get(\"v\");\nvar w = global.get(\"w\");\n//send the user values to service endpoint\nmsg.payload= \n{\"fields\":[ 'Year', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developed', 'Developing'],\n\"values\":[[b,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["ddd8b4a2.10a118"]]},{"id":"ff9ea3cb.a7cdf","type":"http request","z":"37dc96f5.d5f84a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["bb60bbed.ee1308"]]},{"id":"52ce519c.011df","type":"ui_form","z":"37dc96f5.d5f84a","name":"","label":"","group":"3f623027.bb13","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null},{"label":"Developed","value":"v","type":"number","required":true,"rows":null},{"label":"Developing","value":"w","type":"number","required":true,"rows":null}],"formValue":{"b":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","v":"","w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":40,"wires":[["dfe19f76.06f36"]]},{"id":"4216f80e.8f6dd8","type":"ui_text","z":"37dc96f5.d5f84a","group":"3f623027.bb13","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"3f623027.bb13","type":"ui_group","z":"","name":"Saloni","tab":"d63f8c16.0f57b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d63f8c16.0f57b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]